body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  transition: background-color 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: $link-color;

  &:hover {
    background-color: $highlight2-color;
    padding: 0.25em 1em;
    color: $link-hover-color;
    border-radius: 0.25rem;
  }
}

.fg-primary {
  color: $primary-color;
}

.fg-secondary {
  color: $secondary-color;
}

.fg-highlight1 {
  color: $highlight1-color;
}

.fg-highlight2 {
  color: $highlight2-color;
}

.fg-highlight3 {
  color: $highlight3-color;
}

.text-monospace {
  font-family: 'Roboto Mono', monospace;
}

.bg-highlight-muted {
  background-color: $highlight1-muted-color;
}

.card-equal-height {
  height: 100%;
}

.proficiency {
  background-image: 
    repeating-linear-gradient(
      -45deg, 
      transparent, 
      transparent 1rem,
      $primary-color 1rem,
      $secondary-color 2rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}