.jumbotron {
  padding: $banner-padding;
  font-weight: $banner-font-weight;
  margin-bottom: $banner-margin-bottom;
  color: $banner-text-color;
  background-color: $primary-color;
  background: $secondary-color;
  border-bottom: $banner-bottom-border;
  border-top: $banner-top-border;
}
